{% block PedidoItemType_widget %}

    {# form_row would write extra markup, so we directly write the collection #}
    <tr {{ block('widget_attributes') }}>
      <td style="width: 100px">{{ form_widget(form.codigo) }}</td>
      <td>
        <div class="input-group">
          {{ form_widget(form.produto) }}
        <span class="input-group-btn">
            <button class="btn btn-outline-primary procuraproduto" type="button">
              <i class="fa fa-search"></i>
            </button>
        </span>
        </div>
      </td>
      <td class="preco form-calc form-cost" style="text-align: center"></td>
      <td class="form-calc form-qty" style="width: 200px">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-outline-primary menos" type="button">
                <i class="fa fa-minus"></i>
            </button>
          </span>
            {{ form_widget(form.quantidade, {'attr': {'style': 'text-align: center'}}) }}
          <span class="input-group-btn">
            <button class="btn btn-outline-primary mais" type="button">
                <i class="fa fa-plus"></i>
            </button>
          </span>
        </div>
      </td>
      <td class="form-line" style="text-align: center"></td>
      <td class="text-center">
        <a href="#" class="collection-add btn btn-default" title="Add element"><i class="fas fa-plus"></i></a>
        <a href="#" class="collection-remove btn btn-default" title="Delete element"><i class="fas fa-trash"></i></a>
      </td>
    </tr>

{% endblock %}

{# By default, collection uses the form_widget block to create its markup, but we want a table #}
{% block collection_widget %}
    {% spaceless %}

    {#
     # This is almost a copy/paste of jquery.collection.html.twig, we can't use it as it also
     # use form_widget. Note that we also use form_widget(prototype) instead of form_row(prototype)
     # to avoid generating extra markup.
     #}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_widget(prototype)}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
    {% endif %}
    {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
    {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
    {% set attr = attr|merge({'data-name-prefix': full_name}) %}

    <fieldset class="well">
        {{ form_errors(form) }}

        {# Don't forget to add the collection attributes in your markup #}
        <table {{ block('widget_attributes') }}>
            <thead>
                <th style="text-align: center">Cód</th>
                <th>Produto</th>
                <th style="text-align: center">Preço</th>
                <th style="text-align: center">Quantidade</th>
                <th style="text-align: center">Soma</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>

                {#
                 # we can't form_widget(form) as it would render parent markup for a collection, so
                 # we iterate manually on children
                 #}
                {% for item in form %}
                    {{ form_widget(item) }}
                {% endfor %}

            </tbody>
            <tfoot>
              <th colspan="4" style="text-align: right">Valor Total</th>
              <th id="total" style="text-align: center"></th>
              <th></th>
            </tfoot>
        </table>
    </fieldset>

    {% endspaceless %}
{% endblock %}

{% block PedidoItemType_label %}{% endblock %}