{% extends 'base.html.twig' %}

{% block title %}Empresas Cadastradas{% endblock %}

	{% block stylesheets %}
		<style type="text/css">
			a{
				color: black;
				text-decoration: none;
			}

			a:hover{
				color: black;
				text-decoration: none;
			}

			tr:hover{
				background-color: #ccc !important; 
			}
		</style>
    {% endblock %}

{% block body %}

	<a class="nav-link btn btn-outline-primary" href="{{ path('empresa_cadastro') }}" style="width: 15%; margin: 20px">Adicionar Empresa</a>

	<table id="table" class="table table-striped">
		<tr>
			<th>#</th>
			<th>CNPJ</th>
			<th>Razão Social</th>
			<th>Nome Fantasia</th>
			<th>Sit. Tributária</th>
			<th>UF</th>
			<th>Cidade</th>
			<th>CEP</th>
		</tr>
	{% for empresa in empresas %}
		<tr style="cursor: pointer;">
			<td><a href="{{ path('editar_empresa', {'id': empresa.id }) }}">{{ empresa.id }}</a></td>
			<td>{{ empresa.cnpj }}</td>
			<td>{{ empresa.razaoSocial }}</td>
			<td>{{ empresa.nomeFantasia }}</td>
			<td>{{ empresa.situacaoTributaria }}</td>
			<td>{{ empresa.uf }}</td>
			<td>{{ empresa.cidade }}</td>
			<td>{{ empresa.cep }}</td>
		</tr>
	{% endfor %}
	</table>

{% endblock %}

{% block javascript %}
	// <script>
	//     var empresa = document.getElementById("empresa").value;

	//     $("form").submit(function(e) {
	//     	e.preventDefault();
	//     	e.stopPropagation();
	//         $.ajax({
	//             type: "POST",
	//             url: "{{ path('index') }}",
	//             data: {'empresa':empresa},
	//             success:function(data){
	//                     console.log(empresa);
	//             }
	//         })
	//     });
	// </script>

	<script type="text/javascript">
		$(document).ready(function() {
		    $('#table tr').click(function() {
		        var href = $(this).find("a").attr("href");
		        if(href) {
		            window.location = href;
		        }
		    });
		});
	</script>
{% endblock %}